/*元素重置*/
body,ul,li,ol,li,dl,dt,dd{
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family:Helvetica,Arial, "冬青黑体简体中文","Tahoma",
    "Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti",
    "WenQuanYi Micro Hei",SimSun,sans-serif,
    "Apple Color Emoji" !important;
    background-color: #f6f7fb;
}
a,a:hover,a:focus{
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
img{
    border:none;
}
input,button,textarea,select{
    outline: none;
}

/*字体*/
.f12 {
    font-size: 12px
}

.f13 {
    font-size: 13px
}

.f14 {
    font-size: 14px
}

.f16 {
    font-size: 16px
}

.f18 {
    font-size: 18px
}

.f24 {
    font-size: 24px
}

/*浮动*/
.fl {
    float: left;
}

.fr {
    float: right;
}
.clearF{
    overflow: hidden;
}
.clearFC{
    clear: both;
}
/*居中*/
.tc {
    text-align: center;
}
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
.centerBox{
    margin: 0 auto;
}
/*定位*/
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
/*图标配置*/
@font-face {
    font-family: 'iconfont';  /* project id 233914 */
    src: url('//at.alicdn.com/t/font_1f2xfue626dbcsor.eot');
    src: url('//at.alicdn.com/t/font_1f2xfue626dbcsor.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1f2xfue626dbcsor.woff') format('woff'),
    url('//at.alicdn.com/t/font_1f2xfue626dbcsor.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1f2xfue626dbcsor.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    margin: 0 3px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}