.login-page{
    padding-top: 200px;
}
.login-img{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: -999;
}
.login-content{
    width: 400px;
    margin: 0 auto;
}
.login-input{
    border: none;
    padding-left: 20px;
    border-radius: 30px ;
    height: 50px;
    width: 400px;
    margin-bottom: 40px;
}
.login button{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
}
.login-title{
    width: 565px;
    font-size: 40px;
    color: #ffffff;
    margin: 0 auto 40px;
}
.login-copyright{
    position: fixed;
    right: 30px;
    bottom: 20px;
    color: #ffffff;
    font-size: 14px;
}
.login-page .logReg{
    margin:10px 20px;
}
.login-page .logReg a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
