<div class="login-page">
    <div class="login-img">
        <img src="logReg/images/login-bg3.jpg" alt="">
    </div>
    <div class="login-title text-center">
        毕业最后一步
    </div>
    <div class="login-content">
        <div class="userName">
            <input type="text" class="login-input" placeholder="请输入登录名" ng-model="user.userName">
        </div>
        <div class="password">
            <input type="password" class="login-input" placeholder="只能是数字、字母、下划线" ng-model="user.password">
        </div>
        <div class="login">
            <button class="btn btn-primary" ng-click="login(user)">登录</button>
        </div>
        <div class="logReg ">
            <a class="fl" ui-sref="homePage">返回首页</a>
            <a class="fr" ui-sref="register">立即注册</a>
        </div>
    </div>
    <div class="login-copyright">
        &copy;版权所有怀化学院数计学院
    </div>
</div>