@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

.ngdialog.short-message {
  padding-bottom: 160px;
  padding-top: 160px;
}

.ngdialog.short-message.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flyout .5s;
  animation: ngdialog-flyout .5s;
}

.ngdialog.short-message .ngdialog-content {
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;

  border-radius: 5px;
  color: white;
  font-family: 'Helvetica',sans-serif;
  font-size: 1.1em;
  
  margin: 0 auto;
  max-width: 100%;
  /*padding: 1em;*/
  position: relative;
  width: 200px;
  margin-top: 200px;
  text-align: left;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  background-color: rgba(0,0,0,0.5);
  
}
.ngdialog.short-message .ngdialog-content img {
	margin-left: 25px;
	padding-right: 10px;
}
.ngdialog.short-message .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.ngdialog.short-message .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #bbb;
  content: '\00D7';
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px;
}

.ngdialog.short-message .ngdialog-close:hover:before,
.ngdialog.short-message .ngdialog-close:active:before {
  color: #777;
}

.ngdialog.short-message .ngdialog-message {
  margin-bottom: .5em;
}

.ngdialog.short-message .ngdialog-input {
  margin-bottom: 1em;
}

.ngdialog.short-message .ngdialog-input textarea,
.ngdialog.short-message .ngdialog-input input[type="text"],
.ngdialog.short-message .ngdialog-input input[type="password"],
.ngdialog.short-message .ngdialog-input input[type="email"],
.ngdialog.short-message .ngdialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%;
}

.ngdialog.short-message .ngdialog-input textarea:focus,
.ngdialog.short-message .ngdialog-input input[type="text"]:focus,
.ngdialog.short-message .ngdialog-input input[type="password"]:focus,
.ngdialog.short-message .ngdialog-input input[type="email"]:focus,
.ngdialog.short-message .ngdialog-input input[type="url"]:focus {
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}

.ngdialog.short-message .ngdialog-buttons {
  *zoom: 1;
}

.ngdialog.short-message .ngdialog-buttons:after {
  content: '';
  display: table;
  clear: both;
}

.ngdialog.short-message .ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}

.ngdialog.short-message .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none;
}

@media (max-width: 568px) {
  .ngdialog.short-message .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}

.ngdialog.short-message .ngdialog-button.ngdialog-button-primary {
  background: #3288e6;
  color: #fff;
}

.ngdialog.short-message .ngdialog-button.ngdialog-button-secondary {
  background: #e0e0e0;
  color: #777;
}

/*----
  新增的long-message，修改ngdialog-content宽度
----*/
.ngdialog.long-message {
  padding-bottom: 160px;
  padding-top: 160px;
}

.ngdialog.long-message.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flyout .5s;
  animation: ngdialog-flyout .5s;
}

.ngdialog.long-message .ngdialog-content {
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;

  border-radius: 5px;
  color: white;
  font-family: 'Helvetica',sans-serif;
  font-size: 1.1em;

  margin: 0 auto;
  max-width: 100%;
  /*padding: 1em;*/
  position: relative;
  width: 340px;
  margin-top: 200px;
  text-align: left;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  background-color: rgba(0,0,0,0.5);

}
.ngdialog.long-message .ngdialog-content img {
  margin-left: 25px;
  padding-right: 10px;
}
.ngdialog.long-message .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.ngdialog.long-message .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #bbb;
  content: '\00D7';
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px;
}

.ngdialog.long-message .ngdialog-close:hover:before,
.ngdialog.long-message .ngdialog-close:active:before {
  color: #777;
}

.ngdialog.long-message .ngdialog-message {
  margin-bottom: .5em;
}

.ngdialog.long-message .ngdialog-input {
  margin-bottom: 1em;
}

.ngdialog.long-message .ngdialog-input textarea,
.ngdialog.long-message .ngdialog-input input[type="text"],
.ngdialog.long-message .ngdialog-input input[type="password"],
.ngdialog.long-message .ngdialog-input input[type="email"],
.ngdialog.long-message .ngdialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%;
}

.ngdialog.long-message .ngdialog-input textarea:focus,
.ngdialog.long-message .ngdialog-input input[type="text"]:focus,
.ngdialog.long-message .ngdialog-input input[type="password"]:focus,
.ngdialog.long-message .ngdialog-input input[type="email"]:focus,
.ngdialog.long-message .ngdialog-input input[type="url"]:focus {
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}

.ngdialog.long-message .ngdialog-buttons {
  *zoom: 1;
}

.ngdialog.long-message .ngdialog-buttons:after {
  content: '';
  display: table;
  clear: both;
}

.ngdialog.long-message .ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}

.ngdialog.long-message .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none;
}

@media (max-width: 568px) {
  .ngdialog.long-message .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}

.ngdialog.long-message .ngdialog-button.ngdialog-button-primary {
  background: #3288e6;
  color: #fff;
}

.ngdialog.long-message .ngdialog-button.ngdialog-button-secondary {
  background: #e0e0e0;
  color: #777;
}