.backStageContainer{

}
.backStageContainer .left_bar_style {
    position:absolute;
    width: 200px;
    top: 102px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    left: 0px;
    overflow: auto;
    overflow-x: hidden;
    z-index: auto;
    margin:0 auto;
    float:none;
    /*min-height: 650px;*/
    color: #ffffff;
}
.backStageContainer .left_bar_style a{
    color: #ffffff;
    text-decoration: none;
}
.backStageContainer .accordion-heading{
    width: 100%;
    padding: 8px 0 8px 50px;
    background-color:  #000000;
    margin-bottom: 5px;
}

.backStageContainer .accordion-inner{
    width: 100%;
    padding: 8px 0 8px 70px;
}
.backStageContainer .accordion-inner:hover{
    background-color: #ddb321;
    color: #000000;
}
.backStageContainer .accordion-inner:hover a{
    color: #000000;
}
.backStageContainer .rightBar{
    position: absolute;
    left: 179px;
    right: 0px;
    /*min-width: 900px;
    min-height: 500px;
    height: auto;*/
    z-index: 4;
    overflow-y: auto;
    bottom: 0;
    top: 102px;
    background-color: #f6f7fb;
}