<div class="companyShowContainer" >
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
<!--
            <li data-target="#myCarousel" ng-repeat="bannerImg in bannerImgs" data-slide-to="{{$index}}" ng-class="{'active':$index==0}"></li>
-->
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item" ng-class="{'active' : $index ==0}" ng-repeat="bannerImg in bannerImgs">
                <img style="width: 1280px;height: 340px;" data-ui-lazyload="{{bannerImg.image_url}}" >
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" style="cursor: pointer;" ></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="cursor: pointer;"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
        <!--中间导航条-->
    <div class="companyShow-nav">
        <ul>
            <li><a ui-sref="homePage.companyShow.companyShowIndex" ng-class="{'navItemChecked':navItemIndex == 1}" ng-click="navItemIndex = 1">公司主页</a></li>
            <li><a ui-sref="homePage.companyShow.companyDynamic" ng-class="{'navItemChecked':navItemIndex == 2}" ng-click="navItemIndex = 2">公司介绍</a></li>
            <li><a ui-sref="homePage.companyShow.companyProduct" ng-class="{'navItemChecked':navItemIndex == 3}" ng-click="navItemIndex = 3">产品/服务</a></li>
            <li><a ui-sref="homePage.companyShow.companyDynamicDetail" ng-class="{'navItemChecked':navItemIndex == 4}" ng-click="navItemIndex = 4">公司动态</a></li>
        </ul>
    </div>
    <div ui-view="companyInfo">

    </div>
<script>
    $('#myCarousel').carousel({
        interval: 3000
    })
</script>
</div>