<style>
    .company_introduce_right p {
        font-size:12px;
        line-height: 24px;
    }
</style>
<div class="company_introduce">
    <div class="company_introduce_left">
        <div class="company_introduce_logo" style="text-align: center">
            <img src="homePage/images/logo1.jpg" style="max-width: 150px;max-height: 80px;display: inline-block;" />
        </div>
        <div class="company_introduce_msg">
            <ul>
                <li title="{{companyData.name}}">公司名称：{{companyData.name}}</li>
                <li title="{{companyData.company_adress}}">公司地址：{{companyData.company_adress}}</li>
                <li title="{{companyData.business_model}}">经营模式：{{companyData.business_model}}</li>
                <li title="{{companyData.business_scope}}">经营范围：{{companyData.business_scope}}</li>
                <li title="{{companyData.company_linkMan}}">联系人：{{companyData.company_linkMan}}</li>
                <li title="{{companyData.company_tel}}">联系电话：{{companyData.company_tel}}</li>
                <li title="{{companyData.company_url}}">公司网址：<a ng-href="{{companyData.company_url}}" target="_blank">{{companyData.company_url}}</a></li>
            </ul>
        </div>
        <!--<div class="company_introduce_icon">-->
            <!--<div class="icon_good">-->
                <!--&lt;!&ndash;<img src="home-page/images/company/icon-good.png">&ndash;&gt;-->
                <!--<i style="vertical-align: middle;" ng-click="submitAttitude()" class="companyShow_info_good" ng-class="{'companyShow_info_good_active':isLiked}" ></i>-->
                <!--<span style="border: 0;vertical-align: middle;">{{attitudeNum}}</span>-->
            <!--</div>-->
            <!--<div class="icon_collect">-->
                <!--<img style="border: 0;vertical-align: middle;" data-ui-lazyload="home-page/images/company/icon-collect.png">-->
                <!--&lt;!&ndash;<span style="border: 0;vertical-align: middle;">收藏</span>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="icon_email">-->
                <!--<img style="border: 0;vertical-align: middle; cursor: pointer;" ng-click="sendMail()" data-ui-lazyload="home-page/images/company/icon-email.png">-->
                <!--<span style="vertical-align: middle;">邮件</span>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="company_introduce_right">
        <div class="right_con">
            <p>公司简介</p>
            <p>{{companyData.company_introduce}}</p>
            <p style="margin-top: 50px;">公司业绩</p>
            <p>{{companyData.company_grade}}</p>
        </div>
    </div>
</div>