<div class="companyShow_info">
    <div class="companyShow_info_logo fl">
        <!--<img style="width: 170px;height: 93px;margin-bottom: 60px" src="image/company/companyShow-logo.png"  />-->
        <img style="max-width: 170px;,max-height: 93px;" src="homePage/images/logo1.jpg"  />
        <div class="companyShow_info_icon">
            <!--<i class="companyShow_info_good"></i><span>15</span>-->
            <!--<em><i style="vertical-align: middle" ng-click="submitAttitude()" class="companyShow_info_good" ng-class="{'companyShow_info_good_active':isLiked}"></i><span style="vertical-align: middle">{{attitudeNum}}</span></em>-->
            <!--<em style="cursor: pointer;"><i class="companyShow_info_collect" style="vertical-align: middle"></i><span style="vertical-align: middle">收藏</span></em>-->
            <!--<em style="cursor: pointer;" ><i ng-click="sendMail(companyId,companyInfo.companyUserName)" class="companyShow_info_email" style="vertical-align: middle" ></i><span style="vertical-align: middle">邮件</span></em>-->
        </div>
    </div>
        <div class="companyShow_info_detail fl">
        <div class="companyShow_info_detail_item">
            <span class="companyShow_info_detail_title">公司名称:</span><span title="{{companyData.name}}" class="company_card_item">{{companyData.name}}</span>
        </div>
        <div class="companyShow_info_detail_item">
            <span class="companyShow_info_detail_title">公司地址:</span><span title="{{companyData.company_adress}}" class="company_card_item">{{companyData.company_adress}}</span>
        </div>
        <div class="companyShow_info_detail_item">
            <span class="companyShow_info_detail_title">经营模式:</span><span title="{{companyData.business_model}}" class="company_card_item">{{companyData.business_model}}</span>
        </div>
        <div class="companyShow_info_detail_item">
            <span class="companyShow_info_detail_title">经营范围:</span><span title="{{companyData.business_scope}}" class="company_card_item">{{companyData.business_scope}}</span>
        </div>
        <div class="companyShow_info_detail_item">
            <span class="companyShow_info_detail_title">联系人:</span><span title="{{companyData.company_linkMan}}" class="company_card_item">{{companyData.company_linkMan}}</span>
        </div>
        <div class="companyShow_info_detail_item">
            <span class="companyShow_info_detail_title">联系电话:</span><span title="{{companyData.company_tel}}" class="company_card_item">{{companyData.company_tel}}</span>
        </div>
        <div class="companyShow_info_detail_item">
            <span class="companyShow_info_detail_title">公司网址:</span><span title="{{companyData.company_url}}" class="company_card_item"><a ng-href="{{companyData.company_url}}" target="_blank">{{companyData.company_url}}</a></span>
        </div>
    </div>

    <div class="companyShow_info_content fl">
        <ul class="companyShow_supdem_list">
            <li><span>发布***产品采购需求</span><span class="right">2017年4月11日</span></li>
            <li><span>发布***产品采购需求</span><span class="right">2017年5月11日</span></li>
            <li><span>发布***产品采购需求</span><span class="right">2017年5月12日</span></li>
            <li><span>发布***产品采购需求</span><span class="right">2017年5月13日</span></li>
        </ul>
    </div>
</div>

<div class="company_product">
    <div class="company_product_title">
        <div><i></i><span>公司产品</span><div></div>
        </div>
    </div>
    <div class="company_product_content">
        <div class="company_product_item fl" ng-repeat="product in carouselData">
            <div class="company_product_img"><img ng-src="{{product.product_img | stringFilter}}" alt="" style="display: block; height: 198px; width: 198px;"></div>
            <div class="company_product_info">
                <p>{{product.product_name}}</p>
                <span>{{product.product_info}}</span>
            </div>
        </div>
    </div>
</div>