.mainBodyContainer{
    width: 1280px;
    margin:0 auto;
}
.mainBodyContainer .carouselBox{
    width:100%;
    height:500px;
}
#wrapper {
    width: 100%;
    height: 320px;
    margin: 0 auto;
    position: relative;
    top: 180px;
   /* left: 50%;*/
    overflow: hidden;
}
#carousel-title {
    width: 500px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
#carousel-title .title{
    float: left;
    position: relative;
}
#carousel-title .title p {
    font-family: arial, helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #999;
    width: 625px;
    height: 75px;
    margin: 0;
    padding: 25px 0 0 25px;
}
#carousel-title .title button{
    height: 40px;
    text-align: center;
    background-color: #ddb321;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
    left: 330px;
    top:0px;
}
#carousel-title .title button:hover:after{
    content: '>>';
    font-size: 22px;
    font-weight: normal;
    vertical-align: middle;
    font-style: normal;
    top: 50%;
    webkit-transition: all 300ms cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all 300ms cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all 300ms cubic-bezier(.455,.03,.515,.955);
    -o-transition: all 300ms cubic-bezier(.455,.03,.515,.955);
}
#carousel-small,
#carousel-large {
    position: absolute;
}
#carousel-small {
    width: 540px;
    height: 220px;
    bottom: 0;
    left: 0;
}
#carousel-large {
    width: 860px;
    height: 300px;
    top: 0;
    right: 0;
}
#carousel-large img {
    display: block;
    margin-left: 10px;
    float: left;
}
#carousel-small img {
    display: block;
    margin-right: 10px;
    float: right;
}
#navi {
    position: absolute;
    bottom: 0;
    right: 0;
}
#navi a {
    border: 1px solid #999;
    background-color: #fff;
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 0 0 4px;
    float: left;
}
#navi a:hover {
    background-color: #ccc;
}
#navi a.selected {
    background-color: #999;
}
#navi a span {
    display: none;
}
.slicer {
    position: absolute;
    top: 0;
    left: 400px;
}
#donate-spacer {
    height: 100%;
}
#donate {
    border-top: 1px solid #999;
    width: 750px;
    padding: 50px 75px;
    margin: 0 auto;
    overflow: hidden;
}
#donate p, #donate form {
    margin: 0;
    float: left;
}
#donate p {
    width: 650px;
}
#donate form {
    width: 100px;
}

.mainBodyContainer .mainProBox  .productH{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 40px;
}
.mainBodyContainer .productsBox{
    margin-top: 50px;
}
.mainBodyContainer .swiper-container{
    width: 100%;
}
.mainBodyContainer .swiper-slide{
    text-align: center;
}
.mainBodyContainer .productsBox img{
    height:200px;
    width: 100%;
    position: relative;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.mainBodyContainer .productsBox .swiper-slide-container:hover img{
    -webkit-transform: scale(1.08,1.08);
    -moz-transform: scale(1.08,1.08);
    -o-transform: scale(1.08,1.08);
    -ms-transform: scale(1.08,1.08);
    transform: scale(1.08,1.08);
}
.mainBodyContainer .productsBox .swiper-slide-container:hover .readMore{
    cursor: pointer;
    opacity: 100;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.mainBodyContainer .productsBox .swiper-slide-container{
    display: inline-block;
    border: 1px solid #cccccc;
    padding: 10px;
    width: 100%
}
.productsBox .swiper-slide-container .readMore{
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    position: absolute;
    width: 283px;
    height:220px;
    background-color: rgba(0,0,0,.6);
    top: 0px;
    left: 0px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.productsBox .swiper-slide-container .readMore button{
    margin-top: 90px;
    padding: 5px 20px;
    border: none;
    color: #ffffff;
    background-color:transparent;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -o-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(5);
    -webkit-transition: all 0.3s ease-in-out 0.2s;
    -moz-transition: all 0.3s ease-in-out 0.2s;
    -o-transition: all 0.3s ease-in-out 0.2s;
    -ms-transition: all 0.3s ease-in-out 0.2s;
    transition: all 0.3s ease-in-out 0.2s;
}
.productsBox .swiper-slide-container:hover .readMore button{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.productsBox .swiper-slide-container p{
    margin-top: 20px;
}

.mainBodyContainer .newsBox  .newsH{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin: 40px 0;
}
.newsBox .swiper-slide-container{
    width: 100%;
    height:100px;
}
.newsBox .swiper-slide-container img{
    width: 100%;
    height:100px;

}
.mainBodyContainer .newsBox .newsImgBox{
    position: relative;
    width: 580px;
    height:325px;
    background-color: #2aabd2;
}
.mainBodyContainer .newsBox .newsTextBox{
    width: 700px;
    height:325px;
    background-color: #eea236;
}
.mainBodyContainer .newsContentBox .newsType{
    display: inline-block;
    font-size: 18px;
    padding:3px 8px;
    border: 1px double #cccccc;
    font-weight: bold;
    color: #eea236;
    position: absolute;
    top:10px;
    left: 10px;
    background-color: #0f0f0f;
}
.newsContentBox .newsImgBox img{
    width: 580px;
    height:325px;
}
.newsBox .swiper-slide-container img{
    cursor: pointer;
}
