<section class="searchBoxContainer">
    <div class="searchBox">
        <h4>搜索条件：</h4>
        <div ng-if="searchType==1">
        <div class="searchList f16">
            <span class="searchLabels">经营模式：</span>
            <span class="searchLabel">采掘</span>
            <span class="searchLabel">制造</span>
            <span class="searchLabel">批发</span>
            <span class="searchLabel">零售</span>
            <span class="searchLabel">咨询</span>
            <span class="searchLabel">租赁</span>
            <span class="searchLabel">代理</span>
            <span class="searchLabel">其他</span>
        </div>
        <div class="searchList f16">
            <span class="searchLabels">经营范围：</span>
            <span class="searchLabel">服务类</span>
            <span class="searchLabel">科技类</span>
            <span class="searchLabel">商贸类</span>
            <span class="searchLabel">食品类</span>
            <span class="searchLabel">其他</span>
        </div>
        </div>
        <div ng-if="searchType==2">
            <div class="searchList f16">
                <span class="searchLabels">产品类型：</span>
                <span class="searchLabel" ng-click="searchPro('服装')">服装</span>
                <span class="searchLabel" ng-click="searchPro('美女')">美女</span>
                <span class="searchLabel" ng-click="searchPro('汽车')">汽车</span>
            </div>
        </div>
    </div>
    <table class="searchResult">
        <tbody>
        <tr>
            <td>
                <div class="companyDetails" ng-repeat="carousel in carouselData">
                    <div class="companyImg"><img ng-src="{{carousel.product_img | stringFilter}}" style="max-width: 200px;max-height: 230px"></div>
                    <div class="companyIntro" style="text-align: center">{{carousel.product_name}}</div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</section>