<div class="canal-city-container">
    <div class="canal-cityName">
        <span>添加活动与资讯</span>
        <a href="javascript:;" ui-sref="homePage.backStage.activityNewsManage">返回</a>
    </div>
    <div class="carouseCity-main">
        <table class="addCarouseCity-list-table">
            <tbody>
            <tr>
                <td>
                    <em>*</em>
                    <span>标题：</span>
                </td>
                <td>
                    <input type="text" ng-model="gardenInfo.title" maxlength="25" placeholder="25个字以内">
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>发布人：</span>
                </td>
                <td>
                    <input class="inputTypeUrl"  type="text" ng-model="gardenInfo.author">
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;padding-top: 10px;margin-top: 20px;">
                    <em>*</em>
                    <span>介绍：</span>
                </td>
                <td>
                    <textarea ng-model="gardenInfo.content" maxlength="300" placeholder="300字以内..."></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="save_data" ng-if="articleId" ng-click="updateGardenInfo(gardenInfo)">保存</button>
                    <button class="save_data" ng-if="!articleId" ng-click="addGardenInfo(gardenInfo)">添加</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>