<div class="canal-city-container">
    <div class="canal-cityName">
        <span>添加轮播图</span>
        <a href="javascript:;" ui-sref="homePage.backStage.carouselManage">返回</a>
    </div>
    <div class="carouseCity-main">
        <table class="addCarouseCity-list-table">
            <tbody>
            <tr>
                <td>
                    <em>*</em>
                    <span>标题：</span>
                </td>
                <td>
                    <div class="warningBorder" ng-class="{'warning':!countryCarouseInfo.title && isDirty}">
                        <input type="text" ng-model="countryCarouseInfo.title"  placeholder="请保持在150字以内">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <em></em>
                    <span>链接：</span>
                </td>
                <td>
                    <div>
                        <input class="inputTypeUrl" type="text" ng-model="countryCarouseInfo.link" placeholder="请以http://或者https://开头的正确网址">
                    </div>
                    <span ng-show="isDirty" style="color: #ff3c3c">*请填写正确的网址链接</span>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;padding-top: 10px">
                    <em>*</em>
                    <span>上传图片：</span>
                </td>
                <td>
                    <div class="file_info">
                        <div class="file_upload_wrap fl">
                            <span class="glyphicon glyphicon-open" style="vertical-align: unset;"></span>
                            点击上传
                            <input name="file_upload1" type="file" file-model="myFile1" img-Url="countryCarouseInfo.img_url">
                        </div>
                        <span style="margin-left: 10px;">图片支持jpg/png/gif格式，图片大小不能超过5M</span>
                    </div>
                    <div class="tc" style="width: 460px;height:185px;border: 1px solid #DDDDDD;margin-bottom: 10px;">
                        <div  class="noPicture" ng-class="{'warning':!countryCarouseInfo.img_url && isDirty}">
                            <img id="imgUrl" ng-src="{{countryCarouseInfo.img_url}}" style="max-width: 457px;max-height:183px;">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;padding-top: 10px">
                    <em></em>
                    <span>正文：</span>
                </td>
                <td>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="save_data">保存</button>
                    <!--<button class="save_data" ng-if="!carouseId" ng-click="addCarouseInfo(countryCarouseInfo)">添加</button>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>