<div class="canal-city-container">
    <div class="canal-cityName">
        <span>企业轮播图管理</span>
        <a href="javascript:;" ui-sref="homePage.backStage.companyShow">返回</a>
    </div>
    <div class="carouseCity-main">
        <div class="carouseCity-top">
            <span>企业轮播图管理（最多添加6条）</span>
            <button ui-sref="homePage.backStage.addCarousel({pavilion_num:pavilion_num})">添加</button>
        </div>
        <div class="carouseCity-list-top">
            <span class="carouseCity-first-theme">轮换信息</span>
            <span class="carouseCity-second-theme">链接</span>
            <span class="carouseCity-third-theme">排序</span>
            <span class="carouseCity-fourth-theme">操作</span>
        </div>
        <div class="carouseCity-list" ng-repeat="carousels in carouselData">
            <span class="carouseCity-first-theme">
                <div class="carouse-img-box"><img ng-src="{{carousels.img_url | stringFilter}}" alt=""></div>
                <span class="carouseCity-list-main">{{carousels.title}}</span>
            </span>
            <a href="#" target="_blank">
                <span class="carouseCity-second-theme">{{carousels.link}}</span>
            </a>
            <span class="carouseCity-third-theme">
                <img src="backStageManage/companyShowManage/image/up.jpg" style="cursor: pointer;" >
                <img src="backStageManage/companyShowManage/image/down.jpg" style="cursor: pointer;" >
            </span>
            <span class="carouseCity-fourth-theme">
                <button ui-sref="homePage.backStage.addCarousel({pavilion_num:pavilion_num,carouseId:carousels.id})">编辑</button>
                <button class="con_del_btn" ng-click="delCarousel(carousels.id)">删除</button>
            </span>
        </div>
    </div>
</div>