<div class="canal-city-container">
    <div class="canal-cityName">
        <span>企业名片编辑</span>
        <a href="javascript:;" ui-sref="homePage.backStage.companyShow">返回</a>
    </div>
    <div class="carouseCity-main">
        <table class="addCarouseCity-list-table">
            <tbody>
            <tr>
                <td>
                    <em>*</em>
                    <span>公司名称：</span>
                </td>
                <td>
                    <input type="text"     >
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>公司地址：</span>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>经营模式：</span>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>经营范围：</span>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>公司网址：</span>
                </td>
                <td>
                    <input type="text"    >
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>联系人：</span>
                </td>
                <td>
                    <input type="text"    >
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>联系人电话：</span>
                </td>
                <td>
                    <input type="text"    >
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>公司业绩：</span>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>公司简介：</span>
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="save_data">保存</button>
                   <!-- <button class="save_data" ng-click="addInvestmentInfo(articaleData)" ng-if="!articaleData.id">添加</button>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>