<div class="canal-city-container">
    <div class="canal-cityName">
        <span>企业名片编辑</span>
        <a href="javascript:;" ui-sref="homePage.backStage.companyShow">返回</a>
    </div>
    <div class="carouseCity-main">
        <table class="addCarouseCity-list-table">
            <tbody>
            <tr>
                <td>
                    <em>*</em>
                    <span>公司名称：</span>
                </td>
                <td>
                    <input type="text" ng-model="companyData.name">
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>公司地址：</span>
                </td>
                <td>
                    <input type="text" ng-model="companyData.company_adress">
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>经营模式:</span>
                </td>
                <td>
                    <select name="companyData.business_model" ng-model="companyData.business_model">
                        <option value="采掘">采掘</option>
                        <option value="制造">制造</option>
                        <option value="批发">批发</option>
                        <option value="咨询">咨询</option>
                        <option value="租赁">租赁</option>
                        <option value="代理">代理</option>
                        <option value="其他">其他</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>经营范围：</span>
                </td>
                <td>
                    <select name="companyData.business_scope" ng-model="companyData.business_scope">
                        <option value="服务类">服务类</option>
                        <option value="科技类">科技类</option>
                        <option value="商贸类">商贸类</option>
                        <option value="食品类">食品类</option>
                        <option value="其他">其他</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>公司网址：</span>
                </td>
                <td>
                    <input type="text" ng-model="companyData.company_url">
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>联系人：</span>
                </td>
                <td>
                    <input type="text" ng-model="companyData.company_linkMan">
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>联系人电话：</span>
                </td>
                <td>
                    <input type="text" ng-model="companyData.company_tel">
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>公司业绩：</span>
                </td>
                <td>
                    <textarea ng-model="companyData.company_grade"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <em>*</em>
                    <span>公司简介：</span>
                </td>
                <td>
                    <textarea ng-model="companyData.company_introduce"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="save_data" ng-click="updateCompanyInfo(companyData)">保存</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>