<div class="canal-city-container attract-invest-container">
    <div class="canal-cityName">
        <span>主营产品</span>
        <a href="javascript:;" ui-sref="homePage.backStage.companyShow">返回</a>
        <button class="_top_add_btn" ui-sref="homePage.backStage.addProduct">添加</button>
    </div>
    <div class="search-info-box">
        <div class="search-info-top">
            <span>产品名称:&nbsp;&nbsp;</span><input type="text" class="att_in_topic" ng-model="_title">
            <button class="fr" ng-click="searchData()">搜索</button>
        </div>
    </div>
    <div class="attract-invest-list">
        <div class="attract-investList-top">
            <span class="attract-investList-info">产品信息</span>
            <span class="attract-investList-type">时间</span>
            <span class="attract-investList-op">操作</span>
        </div>
        <table ng-table="tableParams">
            <tbody>
            <tr>
                <td>
                    <div class="attract-investList-mainCon">
                        <div class="attract-investList-header">
                            <span>ID:</span>
                            <span class="attract-investList-id">1234567</span>
                            <span class="del_img"><img src="backStageManage/companyShowManage/image/content_03.png" alt=""></span>
                        </div>
                        <div class="attract-investList-main">
                            <span class="attract-investList-info">
                                <div class="_industryListImg"><img ng-src="{{industryList.img_url}}" alt=""></div>
                                <div class="_industryListInfo">asdfgadsfsadf</div>
                            </span>
                            <span class="attract-investList-type">
                                asdfgsdfg
                            </span>
                            <span class="attract-investList-op">
                                <button ui-sref="backStageManage.oborManage.editIndustryIntroduction({exhibitionId:exhibitionId,exhibitionName:exhibitionName,industryId:industryList.id})">编辑</button>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>