<div class="canal-city-container attract-invest-container">
    <div class="canal-cityName">
        <span>主营产品</span>
        <a href="javascript:;" ui-sref="homePage.backStage.companyShow">返回</a>
        <button class="_top_add_btn" ui-sref="homePage.backStage.addProduct">添加</button>
    </div>
    <div class="search-info-box">
        <div class="search-info-top">
            <span>产品名称:&nbsp;&nbsp;</span><input type="text" class="att_in_topic" style="margin-right: 10px" ng-model="_title">
            <span>类型:&nbsp;&nbsp;</span><input type="text" class="att_in_topic" style="width: 100px" ng-model="_type">
            <button class="fr" ng-click="searchData(_title,_type)">搜索</button>
        </div>
    </div>
    <div class="attract-invest-list">
        <div class="attract-investList-top">
            <span class="attract-investList-info">产品信息</span>
            <span class="attract-investList-type">类型</span>
            <span class="attract-investList-op">操作</span>
        </div>
        <table ng-table="tableParams">
            <tbody>
            <tr ng-repeat="product in carouselData">
                <td>
                    <div class="attract-investList-mainCon">
                        <div class="attract-investList-header">
                            <span>ID:</span>
                            <span class="attract-investList-id" style="display:inline-block;margin-right: 20px;">{{product.product_id}}</span>
                            <span>产品名:</span>
                            <span class="attract-investList-id">{{product.product_name}}</span>
                            <span class="del_img" ng-click="delProduct(product.product_id)"><img src="backStageManage/companyShowManage/image/content_03.png" alt=""></span>
                        </div>
                        <div class="attract-investList-main">
                            <span class="attract-investList-info">
                                <div class="_industryListImg"><img ng-src="{{product.product_img | stringFilter}}" alt=""></div>
                                <div class="_industryListInfo" style="overflow: hidden">{{product.product_info}}</div>
                            </span>
                            <span class="attract-investList-type">
                                {{product.product_type}}
                            </span>
                            <span class="attract-investList-op">
                                <button ui-sref="homePage.backStage.addProduct({pavilion_num:pavilion_num,productId:product.product_id})">编辑</button>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>